@import url("//fonts.googleapis.com/css?family=Nunito:400,500,600,700,800,900");

:root {
	font-size: 100%;
	font-size: 16px;
	line-height: 1.5;
	--primary-blue: #233975;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

h1 {
	font-size: 2.25rem;
	font-weight: 800;
}

h2 {
	font-size: 1.5rem;
	font-weight: 800;
}

a {
	text-decoration: none;
	color: var(--primary-blue);
}

.small {
	font-size: 80%;
}

.split-screen {
	display: flex;
	flex-direction: column;
}

.left {
	height: 200px;
}

.left, .right {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.left {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../image/background.jpg");
	background-size: cover;
}

.left .copy {
	color: white;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.left p {
	font-weight: 400;
}

.right .copy {
	color: black;
	text-align: center;
}

.right .copy p {
	margin: 1.5em 0;
	font-size: 0.875rem;
}

.right form {
	width: 328px;
}

.login-container {
	margin-bottom: 60px;
}

.alert {
	padding: 20px;
	border-radius: 3px;
	font-size: 80%;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	font-weight: 400;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

.alert-danger {
	background: red;
	color: white;
}
.alert-warning {
	background: orange;
	color: white;
}

.alert-success {
	background: #00a86b;
	color: white;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid #c4c4c4;
	padding: 1em;
	font-size: 0.875rem;
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 0.9rem;
}

.input-container.password {
	position: relative;
}

.input-container.password i {
	position: absolute;
	top: 42px;
	right: 16px;
}

.signin-btn {
	display: block;
	width: 100%;
	background: var(--primary-blue);
	color: white;
	font-weight: 700;
	border: none;
	padding: 1rem;
	border-radius: 8px;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.signin-btn:hover {
	background: #2c4893;
	cursor: pointer;
}

.input-container {
	margin-bottom: 1.25rem;
}

form input.is-invalid {
	border: 1px solid red;
	transition: .35s ease-in-out;
}

.input-container .invalid-feedback {
	font-size: 75%;
	margin-top: 0.2rem;
	color: red;
}

.input-container.password i {
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.split-screen {
		flex-direction: row;
		height: 100vh;
	}

	.left,
	.right {
		display: flex;
		width: 50%;
		height: auto;
	}
}
